@charset "UTF-8";

body{
	background-color: rgba(172, 214, 172, 0.562);
}

h1{
    color: green;
}

h1#principal{ /**/
    text-align: center;
    background-color: white;
    border-radius: 0.25em;
}

h2{
    color: rgba(54, 170, 54, 0.712);
}
.basico{
    color: rgba(13, 150, 13, 0.87);
}